@model Pizza

@{
    ViewData["Title"] = "Deletar Pizza";
}

<div class="row align-items-center">
    <div class="col-md-8 offset-md-4 ">
        <p>
            <h1>Deletar pizza</h1>
        </p>
        <div class="row">
            <div class="col-md-6 ">
                <div class="form-group">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" />
                </div>
                <br/>
                <div class="form-group">
                    <label asp-for="ImageURL" class="control-label"></label>
                    <input asp-for="ImageURL" class="form-control" />
                </div>
                <br/>
                <div class="form-group">
                    <form asp-action="Deletar">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Confirmar" class="btn btn-outline-danger float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Listar Pizzas</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>