@model Tamanho

@{
    ViewData["Title"] = "Deletar Tamanho";
}


<div class="row align-items-center">
    <div class="col-md-8 offset-md-3">
        <p>
            <h1>Deletar tamanho @Model.Nome</h1>
        </p>
        <div class="row">
            <div class="col-md-6 ">
                <div class="form-group">
                    <h1>@Model.Nome</h1>
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            <form asp-action="Deletar">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Confirmar" class="btn btn-outline-danger float-right" />
                <a class="btn btn-outline-secondary" asp-action="Index">Listar Tamanhos</a>
            </form>
        </div>
    </div>
</div>